<footer class="footer" dir="rtl">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-col brand">
        <div class="brand-logo d-flex align-items-center gap-2 mb-3">
          <img src="logo.png" alt="logo" class="img-fluid" width="45" />
          <div class="d-flex flex-column">
            <span class="fw-bold text-white fs-4">عدسة</span>
          </div>
        </div>
        <p class="footer-text mb-4">
          مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير
          مهاراتكم.
        </p>

        <div class="social text-end">
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <h4 class="footer-title">استكشف</h4>
        <ul class="footer-links">
          <li routerLink="/">الرئيسية</li>
          <li routerLink="/blog">المدونة</li>
          <li routerLink="/about">من نحن</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="footer-title">التصنيفات</h4>
        <ul class="footer-links">
          <li>إضاءة</li>
          <li>بورتريه</li>
          <li>مناظر طبيعية</li>
          <li>تقنيات</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="footer-title">ابقَ على اطلاع</h4>
        <p class="footer-text mb-3">اشترك للحصول على أحدث المقالات والتحديثات.</p>

        <div class="newsletter-form">
          <input type="email" placeholder="أدخل بريدك الإلكتروني" class="footer-input mb-2" />
          <button class="footer-btn">اشترك</button>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <span>© 2026 عدسة. صنع بكل <span class="heart">❤</span> جميع الحقوق محفوظة.</span>
      <div class="d-flex gap-3">
        <span>سياسة الخصوصية</span>
        <span>شروط الخدمة</span>
      </div>
    </div>
  </div>
</footer>
