<nav class="navbar navbar-expand-lg bg-nav fixed-top" dir="rtl">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
      <div class="logo d-flex align-items-center gap-2">
        <img src="logo.png" alt="logo" class="img-fluid" width="45" />
        <div class="logo-card">
          <p class="logo-text m-0">عدسة</p>
          <p class="logo-text-small m-0">عالم التصوير الفوتوغرافي</p>
        </div>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 nav-pills-custom">
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/home"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/blog"
            >المدونة</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/about"
            >من نحن</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center gap-3">
        <i class="fa-solid fa-magnifying-glass text-white search-icon cursor-pointer"></i>
        <button class="btn btn-primary rounded-pill px-4 bg-btn border-0 fw-bold" type="submit">
          <a class="text-white text-decoration-none" routerLink="/blog">ابدأ القراءة</a>
        </button>
      </div>
    </div>
  </div>
</nav>
