<section class="blog-hero">
  <div class="container">
    <div class="row hero-blog">
      <div class="blog-hero-caption">
        <span class="label rounded-pill badge mb-4">
          <div class="ring-container m-0">
            <div class="ringring m-0"></div>
            <div class="circle m-0"></div>
          </div>
          <i class="fa-regular fa-newspaper me-2"></i> مدونتنا
        </span>
        <h1>استكشف <span>مقالاتنا</span></h1>
        <p>اكتشف الدروس والرؤى وأفضل الممارسات للتطوير الحديث</p>
      </div>
    </div>
  </div>
</section>
